          @import 'reset.scss';
          @import 'fonts.scss';
          @import 'mixin.scss';
          // @include mq(xxl) {}
          // @include mq(xl) {}
          // @include mq(lg) {}
          // @include mq(md) {}
          // @include mq(sm) {}
          %Abril-Fatface-400 {
              font-family: 'Abril Fatface';
              font-weight: 400;
          }
          
          %Roboto-400 {
              font-family: 'Roboto';
              font-weight: 400;
          }
          
          %Poppins-400 {
              font-family: 'Poppins';
              font-weight: 400;
          }
          
          .header-w {
              width: 100%;
              min-height: 730px;
              background: url(../images/header__backgroun.png) no-repeat;
              background-size: cover;
          }
          
          .header {
              width: inherit;
              &__inner {
                  max-width: 1142px;
                  width: 100%;
                  margin: 0 auto;
                  @include mq(xxl) {
                      padding: 0 15px;
                  }
              }
              &__top {
                  max-width: inherit;
                  width: inherit;
                  display: flex;
                  justify-content: space-between;
                  margin-bottom: 14px;
              }
              &__logo-w {
                  min-width: 126px;
                  height: 88px;
                  background-color: rgba(77, 102, 60, 0.1);
              }
              &__items {
                  max-width: 911px;
                  width: 100%;
                  display: flex;
                  justify-content: space-between;
                  @include mq(xxl) {
                      padding-left: 30px;
                  }
              }
              &__bag-w {
                  margin-top: 49px;
              }
              &__bag-link {}
              &__bag {}
              &__content {
                  max-width: inherit;
                  width: inherit;
              }
              &__transparenttext-w {
                  width: 100%;
                  display: flex;
                  justify-content: end;
              }
              &__transparenttext {
                  @extend %Abril-Fatface-400;
                  font-size: 100px;
                  line-height: 96.4%;
                  display: flex;
                  align-items: flex-end;
                  color: #FFFFFF;
                  opacity: 0.1;
              }
              &__content-items {
                  position: relative;
                  display: flex;
              }
              &__content-name {
                  font-family: 'Helvetica Neue';
                  font-weight: 400;
                  font-size: 22.1915px;
                  line-height: 96.4%;
                  text-transform: uppercase;
                  color: #4D663C;
                  opacity: 0.5;
                  writing-mode: vertical-lr;
                  display: block;
              }
              &__content-items-row {
                  display: flex;
              }
              &__content-items-titlestyle {
                  line-height: 131.1%;
                  text-transform: capitalize;
                  color: #3B4355;
              }
              &__content-item-big {
                  max-width: 206px;
                  width: 100%;
                  height: 278px;
                  background-color: #FFFFFF;
                  border-radius: 14.7943px;
                  padding-top: 28px;
              }
              &__content-title-text-w {
                  padding: 0px 16px;
                  margin-bottom: 14px;
              }
              &__content-itembig-title {
                  @extend %Abril-Fatface-400;
                  font-size: 17.7532px;
                  margin-bottom: 9px;
              }
              .header__content-item-textstyle {
                  line-height: 141.4%;
                  color: #3B4355;
              }
              &__content-itembig-text {
                  @extend %Poppins-400;
                  font-size: 11.0958px;
              }
              &__content-itembig-img {
                  max-width: 206px;
                  width: 100%;
                  background-size: cover;
              }
              &__content-item-middle {
                  max-width: 196px;
                  width: 100%;
                  height: 264px;
                  padding-top: 27.5px;
                  border-radius: 14.0949px;
                  background-color: #FFFFFF;
              }
              &__content-itemmiddle-title {
                  @extend %Abril-Fatface-400;
                  font-size: 16.9139px;
                  margin-bottom: 8px;
              }
              &__content-itemmiddle-text {
                  @extend %Poppins-400;
                  font-size: 10.5712px;
              }
              &__content-itemmiddle-img {
                  max-width: 196px;
                  width: 100%;
              }
              &__content-item-small {
                  max-width: 163px;
                  width: 100%;
                  height: 221px;
                  background-color: #FFFFFF;
                  border-radius: 11.778px;
                  padding-top: 23px;
              }
              &__content-itemsmall-title {
                  @extend %Abril-Fatface-400;
                  font-size: 14.1336px;
                  margin-bottom: 6.32px;
              }
              &__content-itemsmall-text {
                  @extend %Poppins-400;
                  font-size: 8.83347px;
              }
              &__content-itemsmall-img {}
          }
          
          .logo {
              display: inline-block;
              width: 100%;
              height: 100%;
              padding: 46px 8px 22px;
              @extend %Abril-Fatface-400;
              font-size: 24px;
              line-height: 20px;
              letter-spacing: 0.5px;
              text-transform: uppercase;
              color: #4D663C;
              text-decoration: none;
          }
          
          .nav {
              &__list {
                  max-width: 373px;
                  width: 100%;
                  list-style: none;
                  display: flex;
                  justify-content: space-between;
              }
              &__list-item {
                  margin-top: 42px;
                  &:not(:last-child) {
                      margin-right: 88px;
                  }
              }
              &__item-link {
                  @extend %Roboto-400;
                  font-size: 16px;
                  line-height: 29px;
                  letter-spacing: 0.5px;
                  color: #3B4355;
                  text-decoration: none;
                  &:hover {
                      transition: all 0.3s ease;
                      color: chocolate;
                  }
              }
          }