@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header__transparenttext, .header__content-itembig-title, .header__content-itemmiddle-title, .header__content-itemsmall-title, .header__content-itemsmal-getone-linke, .logo {
  font-family: 'Abril Fatface';
  font-weight: 400;
}

.nav__item-link, .clients__reviews-CEO, .subtitle, .email__subtitle, .email__user-youemail, .footer__main-nav-itemlink, .footer__rights {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  letter-spacing: 0.5px;
  color: #2A2A2A;
}

.header__content-itembig-text, .header__content-itemmiddle-text, .header__content-itemsmall-text {
  font-family: 'Poppins';
  font-weight: 400;
}

.achievements__item-count, .title, .email__title {
  font-family: 'Work Sans';
  font-weight: 700;
  font-size: 42.6667px;
  line-height: 57px;
}

.achievements__item-name {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #3B4355;
}

.footer__contacts-phone, .footer__contacts-email, .footer__contacts-address {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14.2222px;
  line-height: 26px;
  letter-spacing: 0.444444px;
  color: #3B4355;
  text-decoration: none;
}

.header-w {
  width: 100%;
  min-height: 730px;
  background: url(../images/header__backgroun.png) no-repeat;
  background-size: cover;
  padding-bottom: 108px;
}

.header {
  width: inherit;
}

.header__inner {
  max-width: 1142px;
  width: 100%;
  margin: 0 auto;
}

@media only screen and (max-width: 1279px) {
  .header__inner {
    padding: 0px 15px;
  }
}

.header__top {
  max-width: inherit;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 14px;
}

.header__logo-w {
  min-width: 126px;
  height: 88px;
  background-color: rgba(77, 102, 60, 0.1);
}

.header__items {
  max-width: 911px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 1279px) {
  .header__items {
    padding-left: 30px;
  }
}

@media only screen and (max-width: 575px) {
  .header__items {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.header__bag-w {
  margin-top: 49px;
}

@media only screen and (max-width: 575px) {
  .header__bag-w {
    margin-right: 30px;
  }
}

.header .burger {
  position: relative;
  width: 30px;
  height: 25px;
  margin-top: 44px;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 575px) {
  .header .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header .burger::before, .header .burger::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #4D663C;
}

.header .burger::before {
  top: 0;
  left: 0;
}

.header .burger::after {
  bottom: -1px;
  left: 0;
}

.header .burger__middleline {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #4D663C;
  top: 13px;
}

.header .burger--active-toggle::before {
  -webkit-transform: rotate(224deg);
          transform: rotate(224deg);
  top: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header .burger--active-toggle::after {
  -webkit-transform: rotate(-227deg);
          transform: rotate(-227deg);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  bottom: 41%;
  left: 0px;
}

.header .burger--active-toggle .burger__middleline {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.header__content {
  max-width: inherit;
  width: inherit;
}

.header__transparenttext-w {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.header__transparenttext {
  font-size: 100px;
  line-height: 96.4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #FFFFFF;
  opacity: 0.1;
}

.header__content-items {
  max-width: 1000px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media only screen and (max-width: 767px) {
  .header__content-items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header__content-name {
  font-family: 'Helvetica Neue';
  font-weight: 400;
  font-size: 22.1915px;
  line-height: 96.4%;
  text-transform: uppercase;
  color: #4D663C;
  opacity: 0.5;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  display: block;
  margin-right: 21px;
}

.header__content-items-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 575px) {
  .header__content-items-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header__content-items-titlestyle {
  line-height: 131.1%;
  text-transform: capitalize;
  color: #3B4355;
}

.header__content-item-big {
  max-width: 206px;
  width: 100%;
  height: 278px;
  background-color: #FFFFFF;
  border-radius: 14.7943px;
  padding-top: 28px;
  margin: 12px 14.70px 0px 0px;
}

.header__content-title-text-w {
  padding: 0px 16px;
  margin-bottom: 14px;
}

.header__content-itembig-title {
  font-size: 17.7532px;
  margin-bottom: 9px;
}

.header .header__content-item-textstyle {
  line-height: 141.4%;
  color: #3B4355;
}

.header__content-itembig-text {
  font-size: 11.0958px;
}

.header__content-itembig-img {
  max-width: 206px;
  width: 100%;
  background-size: cover;
}

.header__content-item-middle {
  max-width: 196px;
  width: 100%;
  height: 264px;
  padding-top: 27.5px;
  border-radius: 14.0949px;
  background-color: #FFFFFF;
  margin: 26px 14.70px 0px 0px;
}

.header__content-itemmiddle-title {
  font-size: 16.9139px;
  margin-bottom: 8px;
}

.header__content-itemmiddle-text {
  font-size: 10.5712px;
}

.header__content-itemmiddle-img {
  max-width: 196px;
  width: 100%;
}

.header__content-item-small {
  max-width: 163px;
  width: 100%;
  height: 223px;
  background-color: #FFFFFF;
  border-radius: 11.778px;
  padding-top: 23px;
  margin-top: 64px;
}

@media only screen and (max-width: 767px) {
  .header__content-item-small {
    display: none;
  }
}

.header__content-itemsmall-title {
  font-size: 14.1336px;
  margin-bottom: 6.32px;
}

.header__content-itemsmall-text {
  font-size: 8.83347px;
}

.header__content-itemsmall-img {
  position: relative;
  z-index: 1;
  max-width: 164px;
  width: 100%;
}

.header__content-itemsmal-getone {
  position: relative;
  max-width: 117px;
  width: 100%;
  height: 42px;
  background: #FFFFFF;
  top: -46px;
  left: 131px;
}

.header__content-itemsmal-getone:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0.7;
}

.header__content-itemsmal-getone-linke {
  width: 100%;
  height: 100%;
  display: inline-block;
  padding: 12px 35px 14px 37px;
  font-size: 11.8355px;
  line-height: 16px;
  text-transform: capitalize;
  color: #242CF8;
  text-decoration: none;
}

.logo {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 46px 8px 22px;
  font-size: 24px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #4D663C;
  text-decoration: none;
}

@media only screen and (max-width: 575px) {
  .nav {
    display: none;
  }
}

.nav__list {
  max-width: 373px;
  width: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__list-item {
  margin-top: 42px;
}

.nav__list-item:not(:last-child) {
  margin-right: 88px;
}

@media only screen and (max-width: 767px) {
  .nav__list-item:not(:last-child) {
    margin-right: 50px;
  }
}

.nav__item-link {
  font-size: 16px;
  line-height: 29px;
  letter-spacing: 0.5px;
  color: #3B4355;
  text-decoration: none;
}

.nav__item-link:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: chocolate;
}

.clients-w {
  width: 100%;
  padding: 150px 0px 94px;
  background: url(../images/background-review.png) repeat;
}

.clients {
  width: 100%;
}

.clients__inner {
  max-width: 1119px;
  width: 100%;
  margin: 0 auto;
}

.clients__slider {
  position: relative;
  padding: 0px 30px;
  margin-bottom: 126px;
  /* Лента слайдов */
  /* Слайд */
  /* Стрелка */
  /* Стрелка не активная */
  /* Точки (булиты) */
}

.clients__slider .slick-slider {
  /* Слайдер запущен */
  /* Слайдер с точками */
}

.clients__slider .slick-list {
  overflow: hidden;
}

.clients__slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clients__slider .slick-slide {
  /* Слайд активный (показывается) */
  /* Слайд основной */
  /* Слайд по центру */
  /* Клонированный слайд */
}

.clients__slider .slick-arrow {
  position: absolute;
  width: 100%;
  font-size: 0;
  top: 36%;
  z-index: 20;
  /* Стрелка влево */
  /* Стрелка вправо */
}

.clients__slider .slick-arrow.slick-prev {
  left: 71px;
  width: 20px;
  height: 28.44px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.clients__slider .slick-arrow.slick-prev::before, .clients__slider .slick-arrow.slick-prev::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #3B4355;
}

.clients__slider .slick-arrow.slick-prev::before {
  top: 23%;
  left: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.clients__slider .slick-arrow.slick-prev::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: 7px;
  right: 0px;
}

.clients__slider .slick-arrow.slick-next {
  position: absolute;
  right: 71px;
  bottom: 50%;
  width: 20px;
  height: 28.44px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.clients__slider .slick-arrow.slick-next::before, .clients__slider .slick-arrow.slick-next::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #3B4355;
}

.clients__slider .slick-arrow.slick-next::before {
  top: 23%;
  left: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.clients__slider .slick-arrow.slick-next::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 7px;
  right: 0px;
}

.clients__slider .slick-disabled {
  opacity: 0.3;
}

.clients__slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* Активная точка */
  /* Элемент точки */
}

.clients__slider .slick-dots li {
  position: relative;
  width: 14.22px;
  height: 14.22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  cursor: pointer;
}

.clients__slider .slick-dots li:not(:first-child) {
  margin-left: 13px;
}

.clients__slider .slick-dots li.slick-active {
  border: 1px solid #3B4355;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.clients__slider .slick-dots li button {
  position: absolute;
  font-size: 0;
  border: 2px solid #2A2A2A;
  background-color: #2A2A2A;
  border-radius: 50%;
  top: 34%;
  left: 34%;
}

.clients__reviews {
  max-width: inherit;
}

@media only screen and (max-width: 991px) {
  .clients__reviews {
    margin: 0px 50px;
  }
}

.clients__quotes {
  font-size: 40px;
  text-align: center;
}

.clients__text {
  width: 100%;
  font-family: 'Work Sans';
  font-weight: 500;
  font-size: 19.5556px;
  line-height: 31px;
  color: #2A2A2A;
  text-align: center;
}

.clients__reviews-CEO {
  font-size: 14.2222px;
  line-height: 26px;
  letter-spacing: 0.444444px;
  color: #3B4355;
  text-align: center;
  margin-bottom: 33px;
}

.clients__logo-w {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients__logo-items {
  max-width: 961px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 991px) {
  .clients__logo-items {
    padding: 0px 15px;
  }
}

@media only screen and (max-width: 575px) {
  .clients__logo-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.clients__logo-items-w {
  max-width: 332px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 767px) {
  .clients__logo-items-w {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .clients__logo-items-w:first-child {
    margin-bottom: 10px;
  }
  .clients__logo-items-w:last-child {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 367px) {
  .clients__logo-items-w {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 367px) {
  .clients__logo {
    margin-top: 20px;
  }
}

.achievements-w {
  width: 100%;
  padding: 57px 0px;
}

.achievements {
  width: inherit;
}

.achievements__inner {
  max-width: 986px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.achievements__title-w {
  text-align: center;
  margin-bottom: 42px;
  padding: 0 15px;
}

.achievements__title {
  margin-bottom: 7px;
}

.achievements__items-w {
  max-width: inherit;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 767px) {
  .achievements__items-w {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.achievements__item {
  position: relative;
  max-width: 226px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.achievements__item:not(:last-child):after {
  content: '';
  position: absolute;
  width: 1px;
  height: 85px;
  background-color: #B9B9B9;
  opacity: 0.4;
  right: -13.33px;
  top: 0;
}

@media only screen and (max-width: 767px) {
  .achievements__item:not(:last-child):after {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .achievements__item:not(:last-child) {
    margin-bottom: 20px;
  }
}

.achievements__item-count {
  color: #3B4355;
}

.title-w {
  max-width: 648px;
  width: 100%;
}

.title {
  color: #4D663C;
}

.email-w {
  width: 100%;
  background: url(../images/background-review.png) no-repeat;
  padding: 86px 0px 76px;
}

.email {
  width: 100%;
}

.email__inner {
  max-width: 1009px;
  width: 100%;
  margin: 0 auto;
}

@media only screen and (max-width: 991px) {
  .email__inner {
    padding: 0 15px;
  }
}

.email__items {
  max-width: inherit;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 767px) {
  .email__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 767px) {
  .email__title-w {
    text-align: center;
  }
}

.email__title {
  font-size: 24px;
  line-height: 38%;
  color: #4D663C;
  margin-bottom: 16px;
}

.email__subtitle {
  letter-spacing: 0.5px;
  color: #2A2A2A;
  opacity: 0.5;
}

.email__user {
  max-width: 283px;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .email__user {
    margin-top: 20px;
  }
}

.email__user-items {
  max-width: inherit;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.email__user-youemail {
  text-transform: none;
  cursor: pointer;
}

.email__user-button {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #4D663C;
  background: transparent;
  border: none;
  cursor: pointer;
}

.email__user-input {
  width: 100%;
  border-width: 0px 0px 2px 0px;
  border-color: #4D663C;
  outline: none;
  font-size: 16px;
}

.footer-w {
  width: 100%;
}

.footer {
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 767px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__items {
  max-width: 929px;
  width: 100%;
  padding: 61px 0px 53px;
  background: url(../images/footer__img.png) no-repeat;
}

.footer__items-inner {
  max-width: 687px;
  margin: 0 auto;
}

@media only screen and (max-width: 991px) {
  .footer__items-inner {
    padding: 0 15px;
  }
}

.footer__main {
  margin-bottom: 87px;
}

.footer__main-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__main-nav-item {
  list-style: none;
}

.footer__main-nav-item:not(:first-child) {
  margin-left: 53.33px;
}

.footer__main-nav-itemlink {
  text-decoration: none;
  letter-spacing: 0.444444px;
  color: #3B4355;
}

.footer__logo {
  width: 110px;
  display: block;
  padding: 0;
  margin-bottom: 24px;
}

.footer__rights {
  letter-spacing: 0.444444px;
  color: #3B4355;
}

.footer__contacts {
  max-width: 351px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 58px 0px 67px;
}

@media only screen and (max-width: 767px) {
  .footer__contacts {
    max-width: 100%;
    width: 100%;
  }
}

.footer__contacts-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__contacts-phone {
  opacity: 0.5;
  margin-bottom: 17.78px;
}

.footer__contacts-email {
  text-transform: lowercase;
  margin-bottom: 17.56px;
  text-align: start;
}

.footer__contacts-address {
  opacity: 0.5;
  margin-bottom: 16px;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__socials-iconlink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__socials-iconlink:not(:first-child) {
  margin-left: 22px;
}

.footer__socials-icon path {
  fill: #4D663C;
}

.footer__socials-icon:hover path {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  fill: orchid;
}
/*# sourceMappingURL=styles.css.map */