  @import 'reset.scss';
  @import 'fonts.scss';
  @import 'mixin.scss';
  // @include mq(xxl) {}
  // @include mq(xl) {}
  // @include mq(lg) {}
  // @include mq(md) {}
  // @include mq(sm) {}
  %Abril-Fatface-400 {
      font-family: 'Abril Fatface';
      font-weight: 400;
  }
  
  %Roboto-400 {
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 16px;
      line-height: 29px;
      letter-spacing: 0.5px;
      color: #2A2A2A;
  }
  
  %Poppins-400 {
      font-family: 'Poppins';
      font-weight: 400;
  }
  
  %Work-Sans-700 {
      font-family: 'Work Sans';
      font-weight: 700;
      font-size: 42.6667px;
      line-height: 57px;
  }
  
  %Roboto-300 {
      font-family: 'Roboto';
      font-weight: 300;
      font-size: 16px;
      line-height: 28px;
      color: #3B4355;
  }
  
  %footer__contacts-style {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 14.2222px;
      line-height: 26px;
      letter-spacing: 0.444444px;
      color: #3B4355;
      text-decoration: none;
  }
  
  .main-m-wrapper {
      width: 100%;
      position: absolute;
      height: 100%;
      min-height: 30px;
      z-index: 3;
      //  min-height: 0;
      //   overflow: hidden;
      //   opacity: 0;
  }
  
  .main-m {
      width: 100%;
      height: 100%;
      background: url(../images/footer__img.png);
      background-size: cover;
      &__inner {
          max-width: 577px;
          width: 100%;
          margin: 0 auto;
      }
      &__header {
          padding: 0 15px;
          background-color: #3B4355;
          display: flex;
          justify-content: space-between;
      }
      &__logo {
          max-width: 200px;
          width: 100%;
          display: block;
          text-align: center;
          &:hover {
              background-color: antiquewhite;
              opacity: 0.5;
          }
      }
      &__close {
          width: 30px;
          height: 30px;
          position: relative;
          display: block;
          margin-top: 40px;
          cursor: pointer;
          &::before,
          &::after {
              content: '';
              position: absolute;
              width: 100%;
              height: 2px;
              background-color: #4D663C;
          }
          &::before {
              bottom: 48%;
              left: 0;
              transform: rotate(-49deg)
          }
          &::after {
              top: 44%;
              left: 0px;
              -webkit-transform: rotate(30deg);
              transform: rotate(50deg);
          }
      }
      &__burger-middle-line {}
      &__items {
          @include mq(md) {}
      }
      &__nav {
          display: flex;
          justify-content: center;
      }
      &__nav-list {
          display: flex;
          flex-direction: column;
          align-items: center;
      }
      &__nav-listitem {
          margin-top: 20px;
      }
  }
  
  .content-wrapper {
      width: 100%;
      position: relative;
      z-index: 0;
  }
  
  .header-w {
      width: 100%;
      min-height: 730px;
      background: url(../images/header__backgroun.png) no-repeat;
      background-size: cover;
      padding-bottom: 108px;
  }
  
  .header {
      width: inherit;
      &__inner {
          max-width: 1142px;
          width: 100%;
          margin: 0 auto;
          @include mq(xxl) {
              padding: 0px 15px;
          }
      }
      &__top {
          max-width: inherit;
          width: inherit;
          display: flex;
          justify-content: space-between;
          margin-bottom: 14px;
          @include mq(md) {}
      }
      &__logo-w {
          min-width: 126px;
          height: 88px;
          background-color: rgba(77, 102, 60, 0.1);
      }
      &__items {
          max-width: 911px;
          width: 100%;
          display: flex;
          justify-content: space-between;
          @include mq(xxl) {
              padding-left: 30px;
          }
          @include mq(md) {
              justify-content: flex-end;
          }
      }
      &__bag-w {
          margin-top: 49px;
          @include mq(md) {
              margin-right: 30px;
          }
      }
      &__bag-link {}
      &__bag {}
      .burger {
          position: relative;
          width: 30px;
          height: 25px;
          margin-top: 44px;
          display: none;
          align-items: center;
          justify-content: center;
          @include mq(md) {
              display: flex;
          }
          &::before,
          &::after {
              content: '';
              position: absolute;
              width: 100%;
              height: 2px;
              background-color: #4D663C;
          }
          &::before {
              top: 0;
              left: 0;
          }
          &::after {
              bottom: -1px;
              left: 0;
          }
          &__middleline {
              position: absolute;
              width: 100%;
              height: 2px;
              background-color: #4D663C;
              top: 13px;
          }
          &--active-toggle {
              &::before {
                  transform: rotate(224deg);
                  top: 50%;
                  transition: all 0.3s ease;
              }
              &::after {
                  transform: rotate(-227deg);
                  transition: all 0.3s ease;
                  bottom: 41%;
                  left: 0px;
              }
              .burger__middleline {
                  transform: scale(0);
              }
          }
      }
      &__content {
          max-width: inherit;
          width: inherit;
      }
      &__transparenttext-w {
          width: 100%;
          display: flex;
          justify-content: end;
      }
      &__transparenttext {
          @extend %Abril-Fatface-400;
          font-size: 100px;
          line-height: 96.4%;
          display: flex;
          align-items: flex-end;
          color: #FFFFFF;
          opacity: 0.1;
      }
      &__content-items {
          max-width: 1000px;
          position: relative;
          display: flex;
          justify-content: flex-end;
          @include mq(lg) {
              justify-content: center;
          }
      }
      &__content-name {
          font-family: 'Helvetica Neue';
          font-weight: 400;
          font-size: 22.1915px;
          line-height: 96.4%;
          text-transform: uppercase;
          color: #4D663C;
          opacity: 0.5;
          writing-mode: vertical-lr;
          display: block;
          margin-right: 21px;
      }
      &__content-items-row {
          display: flex;
          @include mq(md) {
              flex-direction: column;
          }
      }
      &__content-items-titlestyle {
          line-height: 131.1%;
          text-transform: capitalize;
          color: #3B4355;
      }
      &__content-item-big {
          max-width: 206px;
          width: 100%;
          height: 278px;
          background-color: #FFFFFF;
          border-radius: 14.7943px;
          padding-top: 28px;
          margin: 12px 14.70px 0px 0px;
      }
      &__content-title-text-w {
          padding: 0px 16px;
          margin-bottom: 14px;
      }
      &__content-itembig-title {
          @extend %Abril-Fatface-400;
          font-size: 17.7532px;
          margin-bottom: 9px;
      }
      .header__content-item-textstyle {
          line-height: 141.4%;
          color: #3B4355;
      }
      &__content-itembig-text {
          @extend %Poppins-400;
          font-size: 11.0958px;
      }
      &__content-itembig-img {
          max-width: 206px;
          width: 100%;
          background-size: cover;
      }
      &__content-item-middle {
          max-width: 196px;
          width: 100%;
          height: 264px;
          padding-top: 27.5px;
          border-radius: 14.0949px;
          background-color: #FFFFFF;
          margin: 26px 14.70px 0px 0px;
      }
      &__content-itemmiddle-title {
          @extend %Abril-Fatface-400;
          font-size: 16.9139px;
          margin-bottom: 8px;
      }
      &__content-itemmiddle-text {
          @extend %Poppins-400;
          font-size: 10.5712px;
      }
      &__content-itemmiddle-img {
          max-width: 196px;
          width: 100%;
      }
      &__content-item-small {
          max-width: 163px;
          width: 100%;
          height: 223px;
          background-color: #FFFFFF;
          border-radius: 11.778px;
          padding-top: 23px;
          margin-top: 64px;
          @include mq(lg) {
              display: none
          }
      }
      &__content-itemsmall-title {
          @extend %Abril-Fatface-400;
          font-size: 14.1336px;
          margin-bottom: 6.32px;
      }
      &__content-itemsmall-text {
          @extend %Poppins-400;
          font-size: 8.83347px;
      }
      &__content-itemsmall-img {
          position: relative;
          z-index: 1;
          max-width: 164px;
          width: 100%;
      }
      &__content-itemsmal-getone {
          position: relative;
          max-width: 117px;
          width: 100%;
          height: 42px;
          background: #FFFFFF;
          top: -46px;
          left: 131px;
          &:hover {
              transition: all 0.3s ease;
              opacity: 0.7;
          }
      }
      &__content-itemsmal-getone-linke {
          width: 100%;
          height: 100%;
          display: inline-block;
          padding: 12px 35px 14px 37px;
          @extend%Abril-Fatface-400;
          font-size: 11.8355px;
          line-height: 16px;
          text-transform: capitalize;
          color: #242CF8;
          text-decoration: none;
      }
  }
  
  .logo {
      display: inline-block;
      width: 100%;
      height: 100%;
      padding: 46px 8px 22px;
      @extend %Abril-Fatface-400;
      font-size: 24px;
      line-height: 20px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      color: #4D663C;
      text-decoration: none;
  }
  
  .nav {
      @include mq(md) {
          display: none;
      }
      &__list {
          max-width: 373px;
          width: 100%;
          list-style: none;
          display: flex;
          justify-content: space-between;
      }
      &__list-item {
          margin-top: 42px;
          &:not(:last-child) {
              margin-right: 88px;
          }
          @include mq(lg) {
              &:not(:last-child) {
                  margin-right: 50px;
              }
          }
      }
      &__item-link {
          @extend %Roboto-400;
          font-size: 16px;
          line-height: 29px;
          letter-spacing: 0.5px;
          color: #3B4355;
          text-decoration: none;
          &:hover {
              transition: all 0.3s ease;
              color: chocolate;
          }
      }
  }
  
  .clients-w {
      width: 100%;
      padding: 150px 0px 94px;
      background: url(../images/background-review.png) repeat;
  }
  
  .clients {
      width: 100%;
      &__inner {
          max-width: 1119px;
          width: 100%;
          margin: 0 auto;
      }
      &__slider {
          position: relative;
          padding: 0px 30px;
          margin-bottom: 126px;
          .slick-slider {
              /* Слайдер запущен */
              & .slick-initialized {}
              /* Слайдер с точками */
              & .slick-dotted {}
          }
          .slick-list {
              overflow: hidden;
          }
          /* Лента слайдов */
          .slick-track {
              display: flex;
          }
          /* Слайд */
          .slick-slide {
              /* Слайд активный (показывается) */
              & .slick-active {}
              /* Слайд основной */
              & .slick-current {}
              /* Слайд по центру */
              & .slick-center {}
              /* Клонированный слайд */
              & .slick-cloned {}
          }
          /* Стрелка */
          & .slick-arrow {
              position: absolute;
              width: 100%;
              font-size: 0;
              top: 36%;
              z-index: 20;
              /* Стрелка влево */
              &.slick-prev {
                  left: 71px;
                  width: 20px;
                  height: 28.44px;
                  background-color: transparent;
                  border: none;
                  cursor: pointer;
                  &::before,
                  &::after {
                      content: '';
                      position: absolute;
                      width: 100%;
                      height: 1px;
                      background-color: #3B4355;
                  }
                  &::before {
                      top: 23%;
                      left: 0;
                      transform: rotate(-45deg);
                  }
                  &::after {
                      transform: rotate(45deg);
                      bottom: 7px;
                      right: 0px;
                  }
              }
              /* Стрелка вправо */
              &.slick-next {
                  position: absolute;
                  right: 71px;
                  bottom: 50%;
                  width: 20px;
                  height: 28.44px;
                  background-color: transparent;
                  border: none;
                  cursor: pointer;
                  &::before,
                  &::after {
                      content: '';
                      position: absolute;
                      width: 100%;
                      height: 1px;
                      background-color: #3B4355;
                  }
                  &::before {
                      top: 23%;
                      left: 0;
                      transform: rotate(45deg);
                  }
                  &::after {
                      transform: rotate(-45deg);
                      bottom: 7px;
                      right: 0px;
                  }
              }
          }
          /* Стрелка не активная */
          & .slick-disabled {
              opacity: 0.3;
          }
          /* Точки (булиты) */
          & .slick-dots {
              display: flex;
              justify-content: center;
              & li {
                  position: relative;
                  width: 14.22px;
                  height: 14.22px;
                  display: flex;
                  list-style: none;
                  cursor: pointer;
                  &:not(:first-child) {
                      margin-left: 13px;
                  }
              }
              /* Активная точка */
              & li.slick-active {
                  border: 1px solid #3B4355;
                  border-radius: 50%;
                  transition: all 0.3s ease;
              }
              /* Элемент точки */
              & li button {
                  position: absolute;
                  font-size: 0;
                  border: 2px solid #2A2A2A;
                  background-color: #2A2A2A;
                  border-radius: 50%;
                  top: 34%;
                  left: 34%;
                  //   cursor: pointer;
              }
          }
      }
      &__reviews {
          max-width: inherit;
          @include mq(xl) {
              margin: 0px 50px;
          }
      }
      &__quotes {
          font-size: 40px;
          text-align: center;
      }
      &__text {
          width: 100%;
          font-family: 'Work Sans';
          font-weight: 500;
          font-size: 19.5556px;
          line-height: 31px;
          color: #2A2A2A;
          text-align: center
      }
      &__reviews-CEO {
          @extend%Roboto-400;
          font-size: 14.2222px;
          line-height: 26px;
          letter-spacing: 0.444444px;
          color: #3B4355;
          text-align: center;
          margin-bottom: 33px;
      }
      &__logo-w {
          width: 100%;
          display: flex;
          justify-content: center;
      }
      &__logo-items {
          max-width: 961px;
          width: 100%;
          display: flex;
          //   flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          @include mq(xl) {
              padding: 0px 15px;
          }
          @include mq(md) {
              flex-direction: column;
          }
      }
      &__logo-items-w {
          max-width: 332px;
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          @include mq(lg) {
              justify-content: space-around;
              &:first-child {
                  margin-bottom: 10px;
              }
              &:last-child {
                  margin-top: 10px;
              }
          }
          @include mq(sm) {
              flex-direction: column;
              align-items: center;
          }
      }
      &__logo {
          @include mq(sm) {
              margin-top: 20px;
              &:last-child {}
          }
      }
  }
  
  .achievements-w {
      width: 100%;
      padding: 57px 0px;
  }
  
  .achievements {
      width: inherit;
      &__inner {
          max-width: 986px;
          width: 100%;
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          align-items: center;
      }
      &__title-w {
          text-align: center;
          margin-bottom: 42px;
          padding: 0 15px;
      }
      &__title {
          margin-bottom: 7px;
      }
      &__subtitle {}
      &__items-w {
          max-width: inherit;
          width: 100%;
          display: flex;
          justify-content: space-between;
          @include mq(lg) {
              flex-direction: column;
              align-items: center;
          }
      }
      &__item {
          position: relative;
          max-width: 226px;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          &:not(:last-child):after {
              content: '';
              position: absolute;
              width: 1px;
              height: 85px;
              background-color: #B9B9B9;
              opacity: 0.4;
              right: -13.33px;
              top: 0;
              @include mq(lg) {
                  display: none
              }
          }
          &:not(:last-child) {
              @include mq(lg) {
                  margin-bottom: 20px;
              }
          }
      }
      &__item-count {
          @extend%Work-Sans-700;
          color: #3B4355;
      }
      &__item-name {
          @extend%Roboto-300;
      }
  }
  
  .title-w {
      max-width: 648px;
      width: 100%;
  }
  
  .title {
      @extend%Work-Sans-700;
      color: #4D663C;
  }
  
  .subtitle {
      @extend%Roboto-400;
  }
  
  .email-w {
      width: 100%;
      background: url(../images/background-review.png) no-repeat;
      padding: 86px 0px 76px;
  }
  
  .email {
      width: 100%;
      &__inner {
          max-width: 1009px;
          width: 100%;
          margin: 0 auto;
          @include mq(xl) {
              padding: 0 15px;
          }
      }
      &__items {
          max-width: inherit;
          width: inherit;
          display: flex;
          justify-content: space-between;
          align-items: center;
          @include mq(lg) {
              flex-direction: column;
              align-items: center;
          }
      }
      &__title-w {
          @include mq(lg) {
              text-align: center
          }
      }
      &__title {
          @extend%Work-Sans-700;
          font-size: 24px;
          line-height: 131%;
          color: #4D663C;
          margin-bottom: 16px;
      }
      &__subtitle {
          @extend%Roboto-400;
          letter-spacing: 0.5px;
          color: #2A2A2A;
          opacity: 0.5;
      }
      &__user {
          max-width: 283px;
          width: 100%;
          @include mq(lg) {
              margin-top: 20px;
          }
      }
      &__user-items {
          max-width: inherit;
          width: inherit;
          display: flex;
          justify-content: space-between;
      }
      &__user-youemail {
          @extend%Roboto-400;
          text-transform: none;
          cursor: pointer;
      }
      &__user-button {
          font-family: 'Roboto';
          font-weight: 500;
          font-size: 16px;
          line-height: 29px;
          display: flex;
          align-items: center;
          letter-spacing: 0.5px;
          text-transform: uppercase;
          color: #4D663C;
          background: transparent;
          border: none;
          cursor: pointer;
      }
      &__user-input {
          width: 100%;
          border-width: 0px 0px 2px 0px;
          border-color: #4D663C;
          outline: none;
          font-size: 16px;
      }
  }
  
  .footer-w {
      width: 100%;
  }
  
  .footer {
      width: inherit;
      display: flex;
      justify-content: center;
      @include mq(lg) {
          flex-direction: column;
      }
      &__items {
          max-width: 929px;
          width: 100%;
          padding: 61px 0px 53px;
          background: url(../images/footer__img.png) no-repeat;
          @include mq(md) {
              display: none;
          }
      }
      &__items-inner {
          max-width: 687px;
          margin: 0 auto;
          @include mq(xl) {
              padding: 0 15px;
          }
      }
      &__main {
          margin-bottom: 87px;
      }
      &__main-nav {}
      &__main-nav-list {
          display: flex;
      }
      &__main-nav-item {
          list-style: none;
          &:not(:first-child) {
              margin-left: 53.33px;
          }
      }
      &__main-nav-itemlink {
          text-decoration: none;
          @extend%Roboto-400;
          letter-spacing: 0.444444px;
          color: #3B4355;
      }
      &__items-bottom {}
      &__logo {
          width: 110px;
          display: block;
          padding: 0;
          margin-bottom: 24px;
      }
      &__rights {
          @extend%Roboto-400;
          letter-spacing: 0.444444px;
          color: #3B4355;
      }
      &__contacts {
          max-width: 351px;
          width: 100%;
          display: flex;
          justify-content: center;
          padding: 58px 0px 67px;
          @include mq(lg) {
              max-width: 100%;
              width: 100%;
          }
      }
      &__contacts-inner {
          display: flex;
          flex-direction: column;
      }
      &__contacts-phone {
          @extend%footer__contacts-style;
          opacity: 0.5;
          margin-bottom: 17.78px;
      }
      &__contacts-email {
          @extend%footer__contacts-style;
          text-transform: lowercase;
          margin-bottom: 17.56px;
          text-align: start
      }
      &__contacts-address {
          @extend%footer__contacts-style;
          opacity: 0.5;
          margin-bottom: 16px;
      }
      &__socials {
          display: flex;
          justify-content: start;
          align-items: center;
      }
      &__socials-iconlink {
          display: flex;
          align-items: center;
          &:not(:first-child) {
              margin-left: 22px;
          }
      }
      &__socials-icon {
          & path {
              fill: #4D663C;
          }
          &:hover path {
              transition: all 0.2s ease;
              fill: orchid;
          }
      }
  }